<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Add Employee</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to add employee route -->
          <form action="/register" method="post">
            <div id= "genderPref" class="form-group">
              <label>Employee Status</label>
              <label for="fired">Fired</label>
              <input id="fired" type="checkbox" class="form-control" value="fired" name="Fired">
              <label for="Retired">Retired</label>
              <input id="retired" type="checkbox" class="form-control" value="retired" name="retired">
            </div>
            <div class="form-group">
              <label for="name">Employee Name</label>
              <input id="name" type="text" class="form-control" name="empName" value="<%=employee.name%>">
            </div>
            <div class="form-group">
              <label for="age">Age</label>
              <input id="age" type="number" class="form-control" name="EmpAge" value="<%=employee.age%>">
            </div>
            <div id= "genderPref" class="form-group">
              <label style="display:block;">Gender</label>
              <label for="gender">Male</label>
              <input id="gender" type="checkbox" class="form-control" value="<%=employee.gender%>" name="genSel">
              <label for="gender">Female</label>
              <input id="gender" type="checkbox" class="form-control" value="<%=employee.gender%>" name="genSel">
            </div>
            <div class="form-group">
              <!-- Type set as text since employee ID might be alpha-numeric -->
              <label for="empId">Employee ID</label>
              <input id="empId" type="text" class="form-control" value="<%=employee.empID%>" name="empID">
            </div>
            <div class="form-group">
              <label for="currPost">Current Position</label>
              <input id="currPost" type="text" class="form-control" value="<%=employee.currPost%>" name="currPost">
            </div>
            <div class="form-group">
              <label for="salary">Salary</label>
              <input id="salary" type="number" class="form-control" value="<%=employee.salary%>" name="salary">
            </div>
              <div class="form-group">
                <label for="relatedDept">Related Departments</label>
                <input id="relatedDept" type="text" class="form-control" value="<%=employee.relatedDept%>" name="relatedDept">
              </div>
              <div class="form-group">
                <label for="moreInfo">Additional Information</label>
                <input id="moreInfo" type="text" class="form-control" value="<%=employee.info%>" name="moreInfo">
              </div>
              <div class="form-group">
            <button type="submit" class="btn btn-dark">Update Records</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/header') %>
