<%- include('partials/headerTable') %>

<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table100">
        <table>
          <thead>
            <tr class="table100-head">
              <th class="column1">Employee ID</th>
              <th class="column2">Name</th>
              <th class="column3">Age</th>
              <th class="column4">Gender</th>
              <th class="column1">Current Position</th>
              <th class="column6">Salary</th>
              <th class="column1">Related Departments</th>
              <th class="column1">Additional Information</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td class="column1"><%=empID%></td>
                <td class="column2"><%=empName%></td>
                <td class="column3"><%=empAge%></td>
                <td class="column4"><%=empGender%></td>
                <td class="column5"><%=empPost%></td>
                <td class="column6"><%=empSalary%></td>
                <td class="column1"><%=empRelDept%></td>
                <td class="column1"><%=empInfo%></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>




<%- include('partials/footer') %>
