<%- include('partials/headerTable') %>

<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table100">
        <div class="newEmp-btn">
          <a href="/register"><h4>Add New Employee</h4></a>
        </div>
        <table>
          <thead>
            <tr class="table100-head">
              <th class="column1">Employee ID</th>
              <th class="column2">Name</th>
              <th class="column3">Age</th>
              <th class="column4">Gender</th>
              <th class="column1">Current Position</th>
              <th class="column6">Salary</th>
              <th class="column1">Related Departments</th>
              <th class="column1">Additional Information</th>
              <th class="column1">Actions</th>
            </tr>
          </thead>
          <tbody>
              <% foundEmployees.forEach(foundEmployee =>{%>
                <tr>
                <td class="column1"><%=foundEmployee.empID%></td>
                <td class="column2"><%=foundEmployee.name%></td>
                <td class="column3"><%=foundEmployee.age%></td>
                <td class="column4"><%=foundEmployee.gender%></td>
                <td class="column5"><%=foundEmployee.currPost%></td>
                <td class="column6"><%=foundEmployee.salary%></td>
                <td class="column1"><%=foundEmployee.relatedDept%></td>
                <td class="column1"><%=foundEmployee.info%></td>
                <td class="column1"><a href="/edit/<%=foundEmployee._id%>" id="<%=foundEmployee._id%>">Edit</a></td>
              </tr>
              <% })%>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>




<%- include('partials/footer') %>
